/* Specialization*/
body {
    background-attachment: fixed;
    background-image: url("../img/top_banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    font-family: 'Open Sans', sans-serif;
}

a, a:hover, a:visited {
    text-decoration: none;
    color:white;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

button {
    border: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
    line-height:1.4em;
    font-weight: 300;
}

h2.header {
    font-size: 45px;
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 1px solid grey;
    padding:10px;
    padding-top:0;    
}

h2.header::after {
    font-size:30px;
    content:"\f0e7";
    font-family: fontawesome;
    position: absolute;
    display: inline-block;
    bottom: -31px;
    left:50%;
}

img {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

/* 
* 
* 
*
Concrete styles for pages 
* 
* 
*
*/

h4.text {
    margin-top: 55px;
    font-size:31px;
    line-height: 1.5em;
    margin-bottom: 25px;
}

.page-block {
    text-align: center;
    padding-top:100px;
    padding-bottom:100px;
}

button.yellow {
    display: block;
    background-color: #f6b20e;
    font-size: 22px;
    border-radius: 10px;
    font-weight: 500;
    font-family: 'Roboto Slab', serif;
    color: white;
    padding: 12px 32px;
}

.custom-navbar {
    z-index:3;
    background-color: rgba(0, 0, 0,0.4);
    padding:0;
    margin:0;
    font-size:15px;
    top:0;
    letter-spacing: 0.6px;

    ul {
        width: 100%;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    li {
        margin: 0 3px;
        padding:15px 10px;
        text-transform: uppercase;
        transition: all 0.2s ease-in-out 0s;
    }

    li a {
        margin: 0;
        padding: 0;
        display: block;
    }

    .logo-img {
        padding: 7px 0;
        height:100%;
    }

    li:hover {
        background-color:#f6b20e;
    }

    button {
        display: none;
    }
}

.present-app {
    background-color: rgba(19,0,35,0.8);
    width:100%;
    color: white;
    padding-bottom:0!important;
    line-height: 1.2em;
    font-family: 'Open Sans', sans-serif;

    .main-content {
        text-align: left;
    }
    a {
        color: #f6b20e;
    }
    img {
        max-width:100%;
        vertical-align: bottom;
        position: relative;
        bottom: 0;
    }
    h1 {
        font-size:55px;
        padding:0 0 20px;
        position: relative;
        margin:20px 0 0;
        line-height: 1.4em;
    }

    p {
        margin-top:90px;
        position: relative;
        font-size:26px;
        line-height: 1;
        margin-bottom:20px;
        margin-bottom: 1px;
        font-weight: 300;
        font-family: 'Roboto Slab', sans-serif;

        a {
            font-weight: 700;
        }
    }

    button {
        font-weight: bold;
        font-size:31px;
        border-radius:10px;
        padding:20px 30px;
        color: white;
        margin: 45px 5px 0;
        cursor: pointer;

        span {
            text-shadow: 1px 1px 2px rgba(0, 0, 0,1);
        }
    }

    .app-store {
        background-color: #d8222b;
    }

    .app-store:hover {
        background-color: rgb(133, 22, 27);
    }
    
    .play-store {
        background-color: #f6b20e;
    }

    .play-store:hover {
        background-color: #af7e0d;
    }
}

.features {
    background-color: rgba(255,255,255,1);
    
    h2 {
        margin: 0 auto;
    }
    h2::after {
        color:grey;
    }

    td {
        padding: 20px;
        padding-top:0;
        vertical-align: top;
        
        h4 {
            font-size:25px;
            margin-top:15px;
            color: hsl(0, 1%, 33%);
            font-weight:500;
        }

        i {
            color: #f6b20e;
            font-size:30px;
        }

        p {
            font-size:13px;
            line-height: 1.5em;
            color:#555454;
            margin-top:15px;
        }
    }

    td.text-right {
        border-right: 1px solid #bfbfbf;
        border-bottom: 1px solid #bfbfbf;
    }
    td.text-left {
        border-left: 1px solid #bfbfbf;
        border-bottom: 1px solid #bfbfbf;
    }

    tr.bottom_row td {
        border-bottom: none;
        padding-top:20px;
    }

    .table-side-image {
        padding-top:50px;

        table {
            margin-top:100px;
            text-align: center;
        }
    }
}

.services {
    background: 
        linear-gradient(rgba(19,0,35,0.8), 
                        rgba(19,0,35,0.8)), url("../img/services_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
    padding-bottom: 0!important;

    .block-content {
        padding-top:135px;
    }
    .image-right {
        margin-top:-130px;
        margin-left:10px;
    }
    .image-left {
        padding-top:10px;
    }

    i {
        font-size:35px;
        border-radius: 100%;
        border: 2px solid #f6b20e;
        color: #f6b20e;
        padding:30px 32px;
        transition: all 0.5s ease-in-out 0s;
    }

    i:hover {
        transform: rotate(360deg);
    }

    ul {
        text-align: right;
    }

    ul li {
        margin-bottom:30px;
        text-align: right;
        
    }

    .text-block {
        display: inline-block;
        width:64%;
        vertical-align: middle;     
        padding-left:18px;
        text-align: left;
        
        p {
            font-size:14px;
            margin-top:10px;
        }

        h5 {
            font-size:27px;
            font-weight:500;
        }
    }
}

.how-it-works {
    background-color: white;
    font-size:15px;
    line-height: 1.7em;
    z-index:5;
    font-weight:100;

    .main-content {
        padding-top:70px;
        img {
            position: relative;
            z-index:1;
        }
    }

    h5 {
        padding-top:10px;
        padding-bottom:50px;
        font-size:25px;
        width:300px;
        font-weight: 500;
    }

    i {
        font-size:45px;
        color: #f6b20e;
    }

    p {
        width:100%;
    }

    .desc-block {
        margin-top:50px;
    }

    h5::before {
        z-index:5;
        font-size:20px;
        content: "\f111";
        font-family: fontawesome;
        display:block;
        position: absolute;
        right:-55px;
        padding-top: 43px;
        color: #f6b20e;
        max-width: 100%;
    }


    h5::after {
        z-index:6;
        content: " ";
        width:220px;
        display:block;
        border-bottom:1px solid #f6b20e;
        position: absolute;
        padding-top: 25px;
    }

    .desc-block.right-align {
        text-align: right;
        h5 {
            margin-left: auto;
            margin-right: 0;
        }
        
        h5::before {
            right:-55px;
        }
    
    
        h5::after {
            right:-50px;
        }
    }

    .desc-block.left-align {
        text-align: left;
        h5 {
            margin-right: auto;
            margin-left: 0;
        }
        h5::before {
            left:-55px;
        }
    
    
        h5::after {
            left:-50px;
        }
    }

    
}

.portfolio {
    background-color: #eeeeee;

    .buttons {
        margin-top:50px;
    }

    img {
        margin-top:50px;
        left:0;
    }

    button {
        background-color: white;
        padding: 10px 0;
        font-size:14px;
        margin: 0 10px;
        width:160px;
        transition: all 0.3s ease-in-out 0s;
        
    }

    button:hover {
        background-color: #f6b20e;
        color:white;
    }

    h4.text {
        max-width:95%;
        margin-left: auto;
        margin-right: auto;
    }
}

.pricing-table {
    color: white;
    background: 
        linear-gradient(rgba(19,0,35,0.8), 
                        rgba(19,0,35,0.8)), url("../img/price_table_bg.jpg");
    background-size: cover;
    font-weight: 100 !important;


    .card {
        padding:0;
        margin:0;
        border:none;
        margin-top:50px;
        color: black;
        width:100%;
        font-size:22px;
        border-radius: 10px;
        overflow: hidden;

        .save-percent {
            position: absolute;
            background-color: #d8222b;
            font-size:15px;
            padding:5px 50px;
            color: white;
            top:15px;
            left:-50px;
            transform: rotate(-45deg);
        }

        h5 {
            font-size:45px;
            font-weight:300;
            padding: 15px;
        }

        .price-block {
            padding:10px 0;
            background-color: #e2e2e2;
        }

        .price-block.red {
            background-color: #d8222b;
        }

        .border-circle {
            border-radius: 50% 50%;
            background-color:white;
            width:120px;
            height:120px;
            padding:15px;
            margin:0 auto;

            span {
                margin: 0;
                padding: 0;
                position: relative;
                line-height: 1.1em;
                font-size:20px;
            }

            .price {
                font-size:40px;
                font-weight:600;
                font-family: 'Roboto Slab', serif;
            }

        }

        ul {
            width:75%;
            margin: auto;
            margin-top:20px;
        }

        ul li {
            padding:10px 0;
            border-bottom: 1px grey dotted;
        }

        button.order {
            width:55%;
            padding: 10px 5px;
            background-color:#f6b20e;
            color: white;
            margin: 30px auto;
            border-radius: 10px;
            transition: all 0.2s ease-in-out 0s;
        }

        button.order:hover {
            background-color:#af7e0d;
        }
    }
}

.team-members {
    background-color: rgb(255, 255, 255);

    .card {
        margin-bottom:30px;
    }
    .row-cards {
        padding-top: 50px;
    }

    .description {
        padding: 13px 20px;
    }

    span {
        display: block;
    }

    .name {
        font-size: 25px;
        font-weight: 400;
    }

    .job {
        padding-top: 5px;
        padding-bottom: 15px;
        font-size:16px;
        font-weight:500;
        color: #f6b20e;
    }

}

.testimonial {
    background: 
        linear-gradient(rgba(19,0,35,0.8), 
                        rgba(19,0,35,0.8)), url("../img/testi_bg.jpg");
    background-size: cover;
    color: white;
    
    .quote {
        margin-top:50px;
        border: 1px solid rgba(255,255,255,0.1);
        padding:10px 0;
    }

    .profile, .quote-text {
        display: inline-block;
    }

    .profile {
        width:30%;
        padding:15px;
        img {
            display: block;
            margin: 0 auto;
        }

        h5 {
            display: block;
            font-weight:500;
        }

        .name {
            font-size:20px;
            margin-top:5px;
        }

        .job {
            font-size:12px;
            margin-top:5px;
            color: #f6b20e;
        }
    }

    .quote-text {
        width:69%;
        vertical-align: top;
        height:100%;
        text-align: left;
        font-size: 15px;
        p {
            margin: 0;
            line-height: 1.7em;
            padding-top: 30px;
            width:95%;
        }
    }
}

.latest-blog {
    background-color: white;

    padding-bottom: 0;
    .blog-posts {
        padding-top:50px;
        position: relative;
    }
    .description {
        text-align: left;
        position: relative;
        background-color:white;
        padding-top:20px;
        padding-left:20px;
        bottom:100px;
        left:13%;
        width:87%;
        h5 {
            font-size:14px;
            color: #f6b20e;
            font-weight: 500;
        }

        h6 {
            padding-top:8px;
            font-size:18px;
            line-height: 1.1em;
        }

        .about-post {
            padding-top:20px;
            font-size:12px;
        }

        .comments, .date {
            display: inline-block;
            color:#bfbfbf
        }

        .comments {
            padding-left:20px;
        }

        a {
            display: inline-block;
            color: black;
            padding-top:10px;
            padding-bottom:0.01em;
            font-size:13px;
            letter-spacing: 0.01em;
            border-bottom: 1px solid black;
        }

        a:hover, h6:hover {
            color:#f6b20e;
            cursor: pointer;
        }

        a:hover {
            border-bottom-color: #f6b20e;
        }
    }
}

.contact-us {
    background: 
        linear-gradient(rgba(19,0,35,0.8), 
                        rgba(19,0,35,0.8)), url("../img/contact_bg.jpg");
    background-size: cover;
    color: white;

    .send-message, .contact-info {
        margin-top:50px;
        display: block;
    }
    .send-message {
        text-align: left;
        color: black;
        background-color: white;
        padding: 40px 30px 30px;
        border-radius:8px;
    }

    .input-block {
        margin-bottom:30px;
        h5 {
            font-size:15px;
            font-weight:700;
            letter-spacing: 0.1px;
        }

        input, textarea {
            margin-top:5px;
            border-radius: 10px;
            border: 1px solid #bfbfbf;
            padding:15px 10px;
            font-size:17px;
            width:100%;
            line-height:1.6em;
        }

        h5::after {
            content: " *";
            color: red;
        }

    }

    .contact-info {
            font-size:50px;
        ul {
            width: 80%;
            margin: 70px auto 0;
            text-align: left;
        }
        ul li {
            margin-bottom:35px;
            display: block;
        }
        i {
            color: #f6b20e;
            vertical-align: middle;
            top:0;
            display: inline-block;
            max-width:10%;
        }

        i:hover {
            transform: rotate(360deg);
        }
        h5 {
            vertical-align: middle;
            font-size:25px;
            font-weight:500;
            display: inline-block;
            line-height:1.7em;
            max-width:70%;
            margin-left:40px;
        }
    }
}

.subscribe-email {
    background-color: white;

    h3 {
        font-size: 35px;
        margin-top:60px;
        font-weight: 500;
    }

    .subscribe:hover {
        background-color:#af7e0d;
    }

    p {
        font-size:22px;
        margin-top:25px;
        line-height: 1.5em;
    }

    input[type=text] {
        display: block;
        border-radius: 10px;
        border: 1px solid #bfbfbf;
        padding:15px 10px;
        font-size:17px;
        width:100%;
        line-height:1.6em;
        margin-top:25px;
        margin-bottom: 30px;
    }

    .left {
        text-align: left;
    }

    .center {
        text-align: center;
    }

    .right {
        text-align: left;

        p {
            margin-bottom:90px;
        }
        
        button {
            font-size:30px;
            margin-bottom:40px;
            box-shadow: 5px 5px 10px 1px rgba(0, 0, 0,0.3);
            font-weight: 700;
            text-shadow: 1px 1px 2px black;
        }

        .apple {
            background-color: #d8222b;
        }

        .apple:hover {
            background-color: rgb(133, 22, 27);
        }

        .android:hover {
            background-color: #af7e0d;
        }
    }
}

.sharing {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(19,0,35,1);
    color: white;

    ul {
        margin-top: 50px;
        li {
            display: inline-block;
            background-color: black;
            width: 70px;
            height: 70px;
            border-radius: 50% 50%;
            margin-left: 5px;
            margin-right: 5px;
            a {
                width: 100%;
                height:100%;
                display: block;
                padding-top:25%;
                i {
                    font-size: 30px;
                }
            }
        }

        li:hover {
            background-color:#f6b20e;
        }
    }
    
}
/* Footer */
.footer {
    text-align: center;
    background-color: black;
    color: white;
    padding-top:50px;
    padding-bottom:50px;
    p {
        margin:0;
        padding:0;
        margin-top:10px;
        text-align: center;
    }

    .go-top {
        display: inline-block;
        font-size: 30px;
        border: 2px solid #f6b20e;
        color: #f6b20e;
        font-weight: 700;
        width:50px;
        height:50px;
        border-radius: 50% 50%;
    }
}
/* media-queries */

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}

@media (max-width: 1199.98px) {
    .custom-navbar .menu li {
        padding-left:5px;
        padding-right:5px;
    }

    .page-block {
        text-align: center;
        padding-top:50px;
    }
    .present-app {
        p {
            margin-top:50px;
        }
    }

    .features .table-side-image table {
        margin-top: 50px;
        h4 {
            font-size:23px;
        }
        td.text-right {
            padding-right:15px;
            padding-left:0;
        }
        td.text-left {
            padding-left:15px;
            padding-right:0;
        }
    }

    .services {
        
        img {
            max-width:48%;
        }

        .block-content.righter {
            padding-top:80px;
        }

        ul li {
            margin-bottom:20px;
        }
    }

    .footer {
        padding-top:30px;
        padding-bottom:30px;
    }
    
  }

  /* Medium devices (tablets, 768px and up)*/
@media (max-width: 991.98px) {

    h2.header {
        font-size:40px;
    }

    h2.header::after {
        bottom:-27px;
    }

    h4.text {
        font-size:25px;
    }

    .page-block {
        text-align: center;
        padding-top:50px;
    }

    .custom-navbar {

        .logo-img {
            text-align: center;
        }
        
        .menu li {
            padding-left:5px;
            padding-right:5px;
            font-size:14px;
        }

        ul {
            padding:0;
        }
        
    }

    .present-app {
        .main-content {
            text-align: center;
            p {
                margin-top:50px;
            }
        }
        img {
            margin-top:50px;
        }
    }
    
    .features .table-side-image table {
        margin-top:20px;
        margin-bottom: 50px;
    }

    .services {
         
        .block-content {
            padding-top: 55px;
            margin-bottom:20px;
         }

         .image-right {
             margin-top: 0;
         }

         .righter {
             margin-bottom:50px;
         }
    }

    .how-it-works {

        padding-bottom:50px;

        .main-content {
            padding-top: 0;
        }

        .desc-block {
            text-align: center !important;
            margin-bottom: 30px;
        }

        .desc-block.left-align h5,
        .desc-block.right-align h5 {
            margin-left: auto;
            margin-right: auto;
            padding-bottom:25px;
            width: 100%;
        }

        h5::before {
            content:none;
        }
        h5::after {
            content:none;
        }
   }

   .portfolio {
       padding-top:30px;
       button {
           margin-top:20px;
       }
   }

   .contact-us {
       padding-bottom: 20px;
   }

   .subscribe-email {
       .left {
           text-align: center;

           h3 {
               margin-top:0;
           }

           button {
               margin-left: auto;
               margin-right: auto;
           }
       }

       img {
           margin-top:50px;
       }

       .right {
           text-align: center;

           p {
               margin-bottom:40px;
           }
           button {
               display:inline-block;
               margin:0 5px;
           }
       }
   }

   .footer {
        text-align: center;

        p {
            text-align: center;
        }

        a {
            margin-top:20px;
        }
   }
 }

/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 767.98px) { 
    .custom-navbar {
        .container {
            margin-left: 0;
            margin-right: 0;
            width:100%;
            max-width:none;
        }
        background-color:black;
        .logo-img {
            text-align:left;
        }

        ul {
            position: absolute;
            flex-direction: column;
            text-align: center;
            display:block;
            width:100%;
            background-color:black;
            left:0;

            li {
                padding: 7px 0;
            }
        }

        button {
            display: block;
            height:100%;
            margin-right:0;
            margin-left:auto;
            background-color: rgba(0, 0, 0,0.7);
            padding: 0 20px;
            color:white;
            font-size:25px;
            border-radius:5px;
        }

        .menu-content {
            height:100%;
        }
    }
 }

 /* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

    h2.header {
        font-size:35px;
    }

    h2.header::after {
        bottom:-25px;
    }

    h4.text {
        font-size:22px;
    }

    .present-app {
        h1 {
            font-size:40px;
        }
    }
    .team-members {
        img {
            width:100%;
        }

        .row-cards {
            padding-left: 5vw;
            padding-right: 5vw;
        }
    }

    .portfolio .text-left {
        text-align: center !important;
    }

    .contact-us .contact-info {
        font-size:35px;
    }

    .contact-us .contact-info h5 {
        font-size:15px;
        margin-left:30px;
    }

    .subscribe-email .right button {
        display: inline-block;
        margin-top: 25px;
    }

    .services {
        ul li {
            text-align: center;
            margin-bottom:50px;
        }
        .image-right {
            display: none;
        }
        i {
            display: inline-block;
        }

        .text-block {
            display: block;
            margin-left:auto;
            text-align: center;
            margin-right:auto;
            padding:0;

            h5 {
                font-size: 27px;
                font-weight: 500;
                display: block;
                margin-top:10px;
            }

            p {
                display: block;
            }
        }
    }
    .sharing ul li {
        margin-bottom:15px;
    }

    .testimonial {
        .profile {
            width: 100%;
        }

        .quote-text {
            width:90%;
        }

        .quote-text p {
            width:100%;
            text-align: center;
        }
    }
  }

/* Large devices (desktops, 992px and up)*/


