/* Specialization*/
body {
  background-attachment: fixed;
  background-image: url("../img/top_banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  font-family: 'Open Sans', sans-serif;
}

a, a:hover, a:visited {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
  margin: 0;
  padding: 0;
  line-height: 1.4em;
  font-weight: 300;
}

h2.header {
  font-size: 45px;
  text-transform: uppercase;
  display: inline-block;
  border-bottom: 1px solid grey;
  padding: 10px;
  padding-top: 0;
}

h2.header::after {
  font-size: 30px;
  content: "\f0e7";
  font-family: fontawesome;
  position: absolute;
  display: inline-block;
  bottom: -31px;
  left: 50%;
}

img {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

/* 
* 
* 
*
Concrete styles for pages 
* 
* 
*
*/
h4.text {
  margin-top: 55px;
  font-size: 31px;
  line-height: 1.5em;
  margin-bottom: 25px;
}

.page-block {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

button.yellow {
  display: block;
  background-color: #f6b20e;
  font-size: 22px;
  border-radius: 10px;
  font-weight: 500;
  font-family: 'Roboto Slab', serif;
  color: white;
  padding: 12px 32px;
}

.custom-navbar {
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0;
  margin: 0;
  font-size: 15px;
  top: 0;
  letter-spacing: 0.6px;
}

.custom-navbar ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.custom-navbar li {
  margin: 0 3px;
  padding: 15px 10px;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.custom-navbar li a {
  margin: 0;
  padding: 0;
  display: block;
}

.custom-navbar .logo-img {
  padding: 7px 0;
  height: 100%;
}

.custom-navbar li:hover {
  background-color: #f6b20e;
}

.custom-navbar button {
  display: none;
}

.present-app {
  background-color: rgba(19, 0, 35, 0.8);
  width: 100%;
  color: white;
  padding-bottom: 0 !important;
  line-height: 1.2em;
  font-family: 'Open Sans', sans-serif;
}

.present-app .main-content {
  text-align: left;
}

.present-app a {
  color: #f6b20e;
}

.present-app img {
  max-width: 100%;
  vertical-align: bottom;
  position: relative;
  bottom: 0;
}

.present-app h1 {
  font-size: 55px;
  padding: 0 0 20px;
  position: relative;
  margin: 20px 0 0;
  line-height: 1.4em;
}

.present-app p {
  margin-top: 90px;
  position: relative;
  font-size: 26px;
  line-height: 1;
  margin-bottom: 20px;
  margin-bottom: 1px;
  font-weight: 300;
  font-family: 'Roboto Slab', sans-serif;
}

.present-app p a {
  font-weight: 700;
}

.present-app button {
  font-weight: bold;
  font-size: 31px;
  border-radius: 10px;
  padding: 20px 30px;
  color: white;
  margin: 45px 5px 0;
  cursor: pointer;
}

.present-app button span {
  text-shadow: 1px 1px 2px black;
}

.present-app .app-store {
  background-color: #d8222b;
}

.present-app .app-store:hover {
  background-color: #85161b;
}

.present-app .play-store {
  background-color: #f6b20e;
}

.present-app .play-store:hover {
  background-color: #af7e0d;
}

.features {
  background-color: white;
}

.features h2 {
  margin: 0 auto;
}

.features h2::after {
  color: grey;
}

.features td {
  padding: 20px;
  padding-top: 0;
  vertical-align: top;
}

.features td h4 {
  font-size: 25px;
  margin-top: 15px;
  color: #555353;
  font-weight: 500;
}

.features td i {
  color: #f6b20e;
  font-size: 30px;
}

.features td p {
  font-size: 13px;
  line-height: 1.5em;
  color: #555454;
  margin-top: 15px;
}

.features td.text-right {
  border-right: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
}

.features td.text-left {
  border-left: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
}

.features tr.bottom_row td {
  border-bottom: none;
  padding-top: 20px;
}

.features .table-side-image {
  padding-top: 50px;
}

.features .table-side-image table {
  margin-top: 100px;
  text-align: center;
}

.services {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(19, 0, 35, 0.8)), to(rgba(19, 0, 35, 0.8))), url("../img/services_bg.jpg");
  background: linear-gradient(rgba(19, 0, 35, 0.8), rgba(19, 0, 35, 0.8)), url("../img/services_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding-bottom: 0 !important;
}

.services .block-content {
  padding-top: 135px;
}

.services .image-right {
  margin-top: -130px;
  margin-left: 10px;
}

.services .image-left {
  padding-top: 10px;
}

.services i {
  font-size: 35px;
  border-radius: 100%;
  border: 2px solid #f6b20e;
  color: #f6b20e;
  padding: 30px 32px;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.services i:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.services ul {
  text-align: right;
}

.services ul li {
  margin-bottom: 30px;
  text-align: right;
}

.services .text-block {
  display: inline-block;
  width: 64%;
  vertical-align: middle;
  padding-left: 18px;
  text-align: left;
}

.services .text-block p {
  font-size: 14px;
  margin-top: 10px;
}

.services .text-block h5 {
  font-size: 27px;
  font-weight: 500;
}

.how-it-works {
  background-color: white;
  font-size: 15px;
  line-height: 1.7em;
  z-index: 5;
  font-weight: 100;
}

.how-it-works .main-content {
  padding-top: 70px;
}

.how-it-works .main-content img {
  position: relative;
  z-index: 1;
}

.how-it-works h5 {
  padding-top: 10px;
  padding-bottom: 50px;
  font-size: 25px;
  width: 300px;
  font-weight: 500;
}

.how-it-works i {
  font-size: 45px;
  color: #f6b20e;
}

.how-it-works p {
  width: 100%;
}

.how-it-works .desc-block {
  margin-top: 50px;
}

.how-it-works h5::before {
  z-index: 5;
  font-size: 20px;
  content: "\f111";
  font-family: fontawesome;
  display: block;
  position: absolute;
  right: -55px;
  padding-top: 43px;
  color: #f6b20e;
  max-width: 100%;
}

.how-it-works h5::after {
  z-index: 6;
  content: " ";
  width: 220px;
  display: block;
  border-bottom: 1px solid #f6b20e;
  position: absolute;
  padding-top: 25px;
}

.how-it-works .desc-block.right-align {
  text-align: right;
}

.how-it-works .desc-block.right-align h5 {
  margin-left: auto;
  margin-right: 0;
}

.how-it-works .desc-block.right-align h5::before {
  right: -55px;
}

.how-it-works .desc-block.right-align h5::after {
  right: -50px;
}

.how-it-works .desc-block.left-align {
  text-align: left;
}

.how-it-works .desc-block.left-align h5 {
  margin-right: auto;
  margin-left: 0;
}

.how-it-works .desc-block.left-align h5::before {
  left: -55px;
}

.how-it-works .desc-block.left-align h5::after {
  left: -50px;
}

.portfolio {
  background-color: #eeeeee;
}

.portfolio .buttons {
  margin-top: 50px;
}

.portfolio img {
  margin-top: 50px;
  left: 0;
}

.portfolio button {
  background-color: white;
  padding: 10px 0;
  font-size: 14px;
  margin: 0 10px;
  width: 160px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.portfolio button:hover {
  background-color: #f6b20e;
  color: white;
}

.portfolio h4.text {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.pricing-table {
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(19, 0, 35, 0.8)), to(rgba(19, 0, 35, 0.8))), url("../img/price_table_bg.jpg");
  background: linear-gradient(rgba(19, 0, 35, 0.8), rgba(19, 0, 35, 0.8)), url("../img/price_table_bg.jpg");
  background-size: cover;
  font-weight: 100 !important;
}

.pricing-table .card {
  padding: 0;
  margin: 0;
  border: none;
  margin-top: 50px;
  color: black;
  width: 100%;
  font-size: 22px;
  border-radius: 10px;
  overflow: hidden;
}

.pricing-table .card .save-percent {
  position: absolute;
  background-color: #d8222b;
  font-size: 15px;
  padding: 5px 50px;
  color: white;
  top: 15px;
  left: -50px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.pricing-table .card h5 {
  font-size: 45px;
  font-weight: 300;
  padding: 15px;
}

.pricing-table .card .price-block {
  padding: 10px 0;
  background-color: #e2e2e2;
}

.pricing-table .card .price-block.red {
  background-color: #d8222b;
}

.pricing-table .card .border-circle {
  border-radius: 50% 50%;
  background-color: white;
  width: 120px;
  height: 120px;
  padding: 15px;
  margin: 0 auto;
}

.pricing-table .card .border-circle span {
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 1.1em;
  font-size: 20px;
}

.pricing-table .card .border-circle .price {
  font-size: 40px;
  font-weight: 600;
  font-family: 'Roboto Slab', serif;
}

.pricing-table .card ul {
  width: 75%;
  margin: auto;
  margin-top: 20px;
}

.pricing-table .card ul li {
  padding: 10px 0;
  border-bottom: 1px grey dotted;
}

.pricing-table .card button.order {
  width: 55%;
  padding: 10px 5px;
  background-color: #f6b20e;
  color: white;
  margin: 30px auto;
  border-radius: 10px;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.pricing-table .card button.order:hover {
  background-color: #af7e0d;
}

.team-members {
  background-color: white;
}

.team-members .card {
  margin-bottom: 30px;
}

.team-members .row-cards {
  padding-top: 50px;
}

.team-members .description {
  padding: 13px 20px;
}

.team-members span {
  display: block;
}

.team-members .name {
  font-size: 25px;
  font-weight: 400;
}

.team-members .job {
  padding-top: 5px;
  padding-bottom: 15px;
  font-size: 16px;
  font-weight: 500;
  color: #f6b20e;
}

.testimonial {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(19, 0, 35, 0.8)), to(rgba(19, 0, 35, 0.8))), url("../img/testi_bg.jpg");
  background: linear-gradient(rgba(19, 0, 35, 0.8), rgba(19, 0, 35, 0.8)), url("../img/testi_bg.jpg");
  background-size: cover;
  color: white;
}

.testimonial .quote {
  margin-top: 50px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px 0;
}

.testimonial .profile, .testimonial .quote-text {
  display: inline-block;
}

.testimonial .profile {
  width: 30%;
  padding: 15px;
}

.testimonial .profile img {
  display: block;
  margin: 0 auto;
}

.testimonial .profile h5 {
  display: block;
  font-weight: 500;
}

.testimonial .profile .name {
  font-size: 20px;
  margin-top: 5px;
}

.testimonial .profile .job {
  font-size: 12px;
  margin-top: 5px;
  color: #f6b20e;
}

.testimonial .quote-text {
  width: 69%;
  vertical-align: top;
  height: 100%;
  text-align: left;
  font-size: 15px;
}

.testimonial .quote-text p {
  margin: 0;
  line-height: 1.7em;
  padding-top: 30px;
  width: 95%;
}

.latest-blog {
  background-color: white;
  padding-bottom: 0;
}

.latest-blog .blog-posts {
  padding-top: 50px;
  position: relative;
}

.latest-blog .description {
  text-align: left;
  position: relative;
  background-color: white;
  padding-top: 20px;
  padding-left: 20px;
  bottom: 100px;
  left: 13%;
  width: 87%;
}

.latest-blog .description h5 {
  font-size: 14px;
  color: #f6b20e;
  font-weight: 500;
}

.latest-blog .description h6 {
  padding-top: 8px;
  font-size: 18px;
  line-height: 1.1em;
}

.latest-blog .description .about-post {
  padding-top: 20px;
  font-size: 12px;
}

.latest-blog .description .comments, .latest-blog .description .date {
  display: inline-block;
  color: #bfbfbf;
}

.latest-blog .description .comments {
  padding-left: 20px;
}

.latest-blog .description a {
  display: inline-block;
  color: black;
  padding-top: 10px;
  padding-bottom: 0.01em;
  font-size: 13px;
  letter-spacing: 0.01em;
  border-bottom: 1px solid black;
}

.latest-blog .description a:hover, .latest-blog .description h6:hover {
  color: #f6b20e;
  cursor: pointer;
}

.latest-blog .description a:hover {
  border-bottom-color: #f6b20e;
}

.contact-us {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(19, 0, 35, 0.8)), to(rgba(19, 0, 35, 0.8))), url("../img/contact_bg.jpg");
  background: linear-gradient(rgba(19, 0, 35, 0.8), rgba(19, 0, 35, 0.8)), url("../img/contact_bg.jpg");
  background-size: cover;
  color: white;
}

.contact-us .send-message, .contact-us .contact-info {
  margin-top: 50px;
  display: block;
}

.contact-us .send-message {
  text-align: left;
  color: black;
  background-color: white;
  padding: 40px 30px 30px;
  border-radius: 8px;
}

.contact-us .input-block {
  margin-bottom: 30px;
}

.contact-us .input-block h5 {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.1px;
}

.contact-us .input-block input, .contact-us .input-block textarea {
  margin-top: 5px;
  border-radius: 10px;
  border: 1px solid #bfbfbf;
  padding: 15px 10px;
  font-size: 17px;
  width: 100%;
  line-height: 1.6em;
}

.contact-us .input-block h5::after {
  content: " *";
  color: red;
}

.contact-us .contact-info {
  font-size: 50px;
}

.contact-us .contact-info ul {
  width: 80%;
  margin: 70px auto 0;
  text-align: left;
}

.contact-us .contact-info ul li {
  margin-bottom: 35px;
  display: block;
}

.contact-us .contact-info i {
  color: #f6b20e;
  vertical-align: middle;
  top: 0;
  display: inline-block;
  max-width: 10%;
}

.contact-us .contact-info i:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.contact-us .contact-info h5 {
  vertical-align: middle;
  font-size: 25px;
  font-weight: 500;
  display: inline-block;
  line-height: 1.7em;
  max-width: 70%;
  margin-left: 40px;
}

.subscribe-email {
  background-color: white;
}

.subscribe-email h3 {
  font-size: 35px;
  margin-top: 60px;
  font-weight: 500;
}

.subscribe-email .subscribe:hover {
  background-color: #af7e0d;
}

.subscribe-email p {
  font-size: 22px;
  margin-top: 25px;
  line-height: 1.5em;
}

.subscribe-email input[type=text] {
  display: block;
  border-radius: 10px;
  border: 1px solid #bfbfbf;
  padding: 15px 10px;
  font-size: 17px;
  width: 100%;
  line-height: 1.6em;
  margin-top: 25px;
  margin-bottom: 30px;
}

.subscribe-email .left {
  text-align: left;
}

.subscribe-email .center {
  text-align: center;
}

.subscribe-email .right {
  text-align: left;
}

.subscribe-email .right p {
  margin-bottom: 90px;
}

.subscribe-email .right button {
  font-size: 30px;
  margin-bottom: 40px;
  -webkit-box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.3);
  font-weight: 700;
  text-shadow: 1px 1px 2px black;
}

.subscribe-email .right .apple {
  background-color: #d8222b;
}

.subscribe-email .right .apple:hover {
  background-color: #85161b;
}

.subscribe-email .right .android:hover {
  background-color: #af7e0d;
}

.sharing {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #130023;
  color: white;
}

.sharing ul {
  margin-top: 50px;
}

.sharing ul li {
  display: inline-block;
  background-color: black;
  width: 70px;
  height: 70px;
  border-radius: 50% 50%;
  margin-left: 5px;
  margin-right: 5px;
}

.sharing ul li a {
  width: 100%;
  height: 100%;
  display: block;
  padding-top: 25%;
}

.sharing ul li a i {
  font-size: 30px;
}

.sharing ul li:hover {
  background-color: #f6b20e;
}

/* Footer */
.footer {
  text-align: center;
  background-color: black;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer p {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  text-align: center;
}

.footer .go-top {
  display: inline-block;
  font-size: 30px;
  border: 2px solid #f6b20e;
  color: #f6b20e;
  font-weight: 700;
  width: 50px;
  height: 50px;
  border-radius: 50% 50%;
}

/* media-queries */
/* Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1199.98px) {
  .custom-navbar .menu li {
    padding-left: 5px;
    padding-right: 5px;
  }
  .page-block {
    text-align: center;
    padding-top: 50px;
  }
  .present-app p {
    margin-top: 50px;
  }
  .features .table-side-image table {
    margin-top: 50px;
  }
  .features .table-side-image table h4 {
    font-size: 23px;
  }
  .features .table-side-image table td.text-right {
    padding-right: 15px;
    padding-left: 0;
  }
  .features .table-side-image table td.text-left {
    padding-left: 15px;
    padding-right: 0;
  }
  .services img {
    max-width: 48%;
  }
  .services .block-content.righter {
    padding-top: 80px;
  }
  .services ul li {
    margin-bottom: 20px;
  }
  .footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 991.98px) {
  h2.header {
    font-size: 40px;
  }
  h2.header::after {
    bottom: -27px;
  }
  h4.text {
    font-size: 25px;
  }
  .page-block {
    text-align: center;
    padding-top: 50px;
  }
  .custom-navbar .logo-img {
    text-align: center;
  }
  .custom-navbar .menu li {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
  }
  .custom-navbar ul {
    padding: 0;
  }
  .present-app .main-content {
    text-align: center;
  }
  .present-app .main-content p {
    margin-top: 50px;
  }
  .present-app img {
    margin-top: 50px;
  }
  .features .table-side-image table {
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .services .block-content {
    padding-top: 55px;
    margin-bottom: 20px;
  }
  .services .image-right {
    margin-top: 0;
  }
  .services .righter {
    margin-bottom: 50px;
  }
  .how-it-works {
    padding-bottom: 50px;
  }
  .how-it-works .main-content {
    padding-top: 0;
  }
  .how-it-works .desc-block {
    text-align: center !important;
    margin-bottom: 30px;
  }
  .how-it-works .desc-block.left-align h5,
  .how-it-works .desc-block.right-align h5 {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 25px;
    width: 100%;
  }
  .how-it-works h5::before {
    content: none;
  }
  .how-it-works h5::after {
    content: none;
  }
  .portfolio {
    padding-top: 30px;
  }
  .portfolio button {
    margin-top: 20px;
  }
  .contact-us {
    padding-bottom: 20px;
  }
  .subscribe-email .left {
    text-align: center;
  }
  .subscribe-email .left h3 {
    margin-top: 0;
  }
  .subscribe-email .left button {
    margin-left: auto;
    margin-right: auto;
  }
  .subscribe-email img {
    margin-top: 50px;
  }
  .subscribe-email .right {
    text-align: center;
  }
  .subscribe-email .right p {
    margin-bottom: 40px;
  }
  .subscribe-email .right button {
    display: inline-block;
    margin: 0 5px;
  }
  .footer {
    text-align: center;
  }
  .footer p {
    text-align: center;
  }
  .footer a {
    margin-top: 20px;
  }
}

/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 767.98px) {
  .custom-navbar {
    background-color: black;
  }
  .custom-navbar .container {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    max-width: none;
  }
  .custom-navbar .logo-img {
    text-align: left;
  }
  .custom-navbar ul {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    display: block;
    width: 100%;
    background-color: black;
    left: 0;
  }
  .custom-navbar ul li {
    padding: 7px 0;
  }
  .custom-navbar button {
    display: block;
    height: 100%;
    margin-right: 0;
    margin-left: auto;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0 20px;
    color: white;
    font-size: 25px;
    border-radius: 5px;
  }
  .custom-navbar .menu-content {
    height: 100%;
  }
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  h2.header {
    font-size: 35px;
  }
  h2.header::after {
    bottom: -25px;
  }
  h4.text {
    font-size: 22px;
  }
  .present-app h1 {
    font-size: 40px;
  }
  .team-members img {
    width: 100%;
  }
  .team-members .row-cards {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .portfolio .text-left {
    text-align: center !important;
  }
  .contact-us .contact-info {
    font-size: 35px;
  }
  .contact-us .contact-info h5 {
    font-size: 15px;
    margin-left: 30px;
  }
  .subscribe-email .right button {
    display: inline-block;
    margin-top: 25px;
  }
  .services ul li {
    text-align: center;
    margin-bottom: 50px;
  }
  .services .image-right {
    display: none;
  }
  .services i {
    display: inline-block;
  }
  .services .text-block {
    display: block;
    margin-left: auto;
    text-align: center;
    margin-right: auto;
    padding: 0;
  }
  .services .text-block h5 {
    font-size: 27px;
    font-weight: 500;
    display: block;
    margin-top: 10px;
  }
  .services .text-block p {
    display: block;
  }
  .sharing ul li {
    margin-bottom: 15px;
  }
  .testimonial .profile {
    width: 100%;
  }
  .testimonial .quote-text {
    width: 90%;
  }
  .testimonial .quote-text p {
    width: 100%;
    text-align: center;
  }
}

/* Large devices (desktops, 992px and up)*/
/*# sourceMappingURL=style.css.map */